:root {
    --agree-bg-color: #6bb698;
    --disagree-bg-color: #5b3449;
    --normal-bg-color: #808080;
}

.custom-checks {
    position: relative;
}

.custom-checks input[type="radio"] {
    visibility:hidden;
}

.custom-checks input[type="radio"] + label {
    display: inline-block !important;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.custom-checks input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    text-align: center;
    background: #fafafa;
    border: 3px solid;
    border-radius: 100%;
}

.custom-checks input[type="radio"] + label.radio-agree:before {
    border-color: var(--agree-bg-color);
}

.custom-checks input[type="radio"] + label.radio-disagree:before {
    border-color: var(--disagree-bg-color);
}

.custom-checks input[type="radio"] + label.radio-normal:before {
    border-color: var(--normal-bg-color);
}

.custom-checks input[type="radio"] + label:active:before, 
.custom-checks input[type="radio"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.custom-checks input[type="radio"]:checked + label.radio-agree:before {
    background: var(--agree-bg-color);
}

.custom-checks input[type="radio"]:checked + label.radio-normal:before {
    background: var(--normal-bg-color);
}

.custom-checks input[type="radio"]:checked + label.radio-disagree:before {
    background: var(--disagree-bg-color);
}




.custom-checks input[type="radio"] + label.sz3:before {
    width: 78px;
    height: 78px;
    margin-top: 0px;
}

.custom-checks input[type="radio"] + label.sz2:before {
    width: 68.6px;
    height: 68.6px;
    margin-top: 4.7px;
}
.custom-checks input[type="radio"] + label.sz1:before {
    width: 58.8px;
    height: 58.8px;
    margin-top: 9.6px;
}

.custom-checks input[type="radio"] + label.sz0:before {
    width: 39.2px;
    height: 39.2px;
    margin-top: 19.4px;
}

@media (min-width: 430px) {
    .custom-check-container {
        margin-right: 8vw;
    }
}

@media (min-width: 1500px) {
    .custom-check-container {
        margin-right: 2vw;
    }
}

@media (max-width: 620px) {
    .custom-checks input[type="radio"] + label.sz3:before {
        width: 10vw;
        height: 10vw;
        margin-top: 0vw;
    }

    .custom-checks input[type="radio"] + label.sz2:before {
        width: 9vw;
        height: 9vw;
        margin-top: 0.5vw;
    }

    .custom-checks input[type="radio"] + label.sz1:before {
        width: 8vw;
        height: 8vw;
        margin-top: 1vw;
    }

    .custom-checks input[type="radio"] + label.sz0:before {
        width: 6vw;
        height: 6vw;
        margin-top: 2vw;
    }
}



