<div class="d-flex justify-content-between text-center ">
    <img class="col-3 main-logo" src="images/netflix-logo.png" />
    <h4 class="align-self-center"><strong>2020 GONGSANGJEON</strong></h4>
    <img class="col-3 align-self-center" src="images/option-btns.png" style="width:100%; height:100%;"/>
</div>

@code {

}
