<div class="d-flex justify-content-around text-center w-100">
    <a class="col-3" href="/">
        <img class="main-logo" src="images/mainlogo.png" />
    </a>
    <span class="col-md-6 col-sm-4 align-self-center" ><strong>2020 GONGSANGJEON</strong></span>
    <img class="col-3 align-self-center main-logo" src="images/option-btns.png" style="width:100%; height:100%;"/>
</div>

@code {

}
