@inherits LayoutComponentBase

<div class="main container" style="max-width: 840px; min-width:340px;">    
    <nav class="navbar navbar-expand">
        <HeaderBar />
    </nav>

    <div class="content" >
        @Body
    </div>
</div>
