<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="row align-content-center">
        <div class="carousel-inner carousel-wrapper" >

            @for (int i = 0; i < _programPicturePaths.Count; i++)
            {
                @if (i == 0)
                {
                    <div class="carousel-item active">
                        <img src="@_programPicturePaths[i]" alt="...">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@_programPicturePaths[i]" alt="...">
                    </div>
                }
            }
        </div>
        @*<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
    </div>
</div>

@code {
    private List<string> _programPicturePaths = new List<string>();

    protected override void OnInitialized()
    {
        for (int i = 1; i <= 4; i++)
        {
            _programPicturePaths.Add("/images/programs/p" + i + ".png");
        }
    }
}
