<div class="d-flex custom-checks justify-content-center align-items-center" style="margin-left:16px; margin-right:2px; padding-bottom:50px;">
    @for (int i = -3; i <= 3; i++)
    {
        <div style="width:50px; height:50px; ">
            <RadioInput GroupName="@_groupName" Value="@i" OnChange="UpdateValue" />
        </div>
    }
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }

    private string _groupName = Guid.NewGuid().ToString();

    private async Task UpdateValue(int newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(Value);
    }
}
