<h3>SurveyQuestion</h3>

<p>@Question.Content</p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-danger">
                    <input type="radio" name="jb-radio" id="jb-radio-1"> -2
                </label>
                <label class="btn btn-danger">
                    <input type="radio" name="jb-radio" id="jb-radio-2"> -1
                </label>
                <label class="btn btn-danger">
                    <input type="radio" name="jb-radio" id="jb-radio-3"> 0
                </label>
                <label class="btn btn-danger">
                    <input type="radio" name="jb-radio" id="jb-radio-3"> 1
                </label>
                <label class="btn btn-danger">
                    <input type="radio" name="jb-radio" id="jb-radio-3"> 2
                </label>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter] public Question Question { get; set; }
    [Parameter] public EventCallback<int> OnAnswered { get; set; }

}
