<p class="text-center">@Question.Id . @Question.Content</p>

<div class="d-flex justify-content-center custom-check-container" style="padding-left:5px;" >
    <RadioButtonGroup @bind-Value="SelectedValue" />
</div>


@code {
    [Parameter] public Question Question { get; set; } = new Question();
    [Parameter] public EventCallback<Submission> OnAnswered { get; set; }

    private string radioGroupName => $"Question{Question.Id}";
    private Submission _submission = new Submission();
    private bool _valueSelected = false;


    public int SelectedValue
    {
        get
        {
            if (!_valueSelected)
                return -5;

            return _submission.Point;
        }
        set
        {
            _submission.Point = value;
            _valueSelected = true;
            OnAnswered.InvokeAsync(_submission);
        }
    }

    protected override void OnParametersSet()
    {
        _submission.QuestionId = Question.Id;
        _submission.Category = Question.Category;
    }
}
