<div class="row justify-content-center">
    <p>@Question.Content</p>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-12">
        <RadioButtonGroup @bind-Value="SelectedValue" />
    </div>
    <div class="col-12 d-flex justify-content-around">
        <p>No</p>
        <p>Yes</p>
    </div>
</div>


@code {
    [Parameter] public Question Question { get; set; } = new Question();
    [Parameter] public EventCallback<Submission> OnAnswered { get; set; }

    private string radioGroupName => $"Question{Question.Id}";
    private Submission _submission = new Submission();
    private bool _valueSelected = false;


    public int SelectedValue
    {
        get
        {
            if (!_valueSelected)
                return -5;

            return _submission.Point;
        }
        set
        {
            _submission.Point = value;
            _valueSelected = true;
            OnAnswered.InvokeAsync(_submission);
        }
    }

    protected override void OnParametersSet()
    {
        _submission.QuestionId = Question.Id;
        _submission.Category = Question.Category;
    }
}
