@page "/"
@inject NavigationManager _navigationManager

<div class="container">
    <div class="mt-4 row justify-content-center text-center">
        <p>
            2020 공상전이 분석한 당신과 어울리는 맥주는?<br />
            당신의 성격 유형을 기반으로 어울리는 맥주, 어울리는 공상전 프로그램부터 연세대학교의 동아리까지 추천해드립니다!<br />
            성격유형분석하고
            <a style="color:aquamarine" href="https://www.instagram.com/yonsei_gong_sang/">
                <strong>&lt;Instagram&gt;</strong>
            </a>
            팔로우 이벤트까지 참여해서 안주도 받아가세요!<br />
        </p>
    </div>

    <div class="mt-3 row justify-content-center">
        <BooteStarpCarousel ContentPictures="_programPicturePaths" DisplayArrows="true" />
    </div>

    <div class="my-4 row justify-content-center">
        <button type="button" @onclick="Start" style="background-color:black; border-width:0px; margin-right:20px;">
            <img class="start-btn" src="images/startbtn.png" alt="start" />
        </button>
    </div>
</div>


@code {
    private List<string> _programPicturePaths = new List<string>();

    protected override void OnInitialized()
    {
        for (int i = 0; i <= 6; i++)
        {
            _programPicturePaths.Add("/images/programs/p" + i + ".png");
        }
    }

    private void Start()
    {
        _navigationManager.NavigateTo("/survey");
    }
}