@page "/"
@inject NavigationManager _navigationManager

<h1>Let's go</h1>

<button type="button" class="btn btn-primary" @onclick="Start" >Start!</button>

@code {
    private void Start()
    {
        _navigationManager.NavigateTo("/survey");
    }
}